.vim/undodir/
code/
documents/
.local/
.cache/
.config/
.ssh/
.oh-my-bash/
.bash_history/
.bash_logout/
.lesshst/
.motd_shown
.osh-update/
.sdirs/
.sudo_as_admin_successful/
lazygit
lazygit.tar.gz
.local
.cache
.config
.ssh
.oh-my-bash
.bash_history
.bash_logout
.lesshst
.motd_shown
.osh-update
.sdirs
.sudo_as_admin_successful
.viminfo
.vim/.netrwhist
.npm/
.tmux/plugins/
