*

!.gitignore
!.bashrc
!.gitconfig
!.tmux.conf
!.profile
!dev-tmux.sh
!README.md
!autohotkey.ahk
!start-ahk.sh
!.vimrc
!start-portfolio-new.sh
!start-reviews.sh
!.hushlogin
!rvf.sh

!.config/
!.config/lazygit/
!.config/lazygit/config.yml
